<center>
<h1>Welcome! Please enter your name!</h1>

<form action='/name' method='post'>
  <div>
    <label for='player_name'>
    <input type='text' name='player_name'>
  </label>
  </div>
  <br>

  <div>
    <button type='submit' value ='submit'>Submit</button>
</center>
