<center>
<h1>Welcome, <%= @name %></h1>
<br>
<br>
<div>
  <h1>Let's play!</h1>
</div>
<!-- <div>
  What is the capital of Cambodia?
  <br>
  When did the Vietnam War officially end?
  <br>
  What is the name of the Wonder of the World, located in Mexico?
</div> -->

<ul>
  <% @questions.each do |question| %>
    <li><%= question %></li>
    <% end %></li>
</ul>
</center>
